:root {
  --button1-hover: hsl(234, 25%, 52%);
  --heading-xl: hsl(233, 54%, 16%);
  --body: hsl(232, 10%, 56%);
  --link-idle: hsl(341, 92%, 62%);
  --button2-hover: hsl(341, 100%, 83%);
  --body-background: hsl(0, 0%, 100%);
  --button2-idle: linear-gradient(
    to bottom,
    hsl(322, 87%, 55%),
    hsl(13, 100%, 64%)
  );
  --button3-idle: linear-gradient(
    to bottom,
    hsl(237, 100%, 64%),
    hsl(322, 87%, 55%)
  );
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

header {
  max-width: 69.375rem;
  margin: 1rem auto 2.375rem;
  padding: 0 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo,
.footer-logo {
  width: 5.5625rem;
}

.nav-btn,
.footer-btn {
  font-weight: 700;
  font-size: 1rem;
  line-height: 175%;
  color: var(--body-background);
  background: var(--heading-xl);
  border-radius: 1.75rem;
  padding: 0.5625rem 1.5rem;
  transition: all 0.5s;
}

.nav-btn:hover {
  background: var(--button1-hover);
}

.footer-btn:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

.footer-btn {
  transition: all 0.5s;
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 2.875rem;
  margin-bottom: 4.125rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-heading {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.125rem;
  color: var(--heading-xl);
  margin-bottom: 1.625rem;
}

.main-paragraph {
  font-weight: 500;
  font-size: 1rem;
  line-height: 162%;
  color: var(--body);
  margin-bottom: 1.5rem;
}

.hero-btn {
  font-weight: 700;
  font-size: 1rem;
  line-height: 175%;
  color: var(--body-background);
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 1.96875rem;
  padding: 0.9375rem 2.3125rem;
  transition: all 0.5s;
}

.hero-btn:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.center-section {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  padding: 0 1rem 5rem;
}

.container {
  display: grid;
  row-gap: 2.5rem;
}

.center-heading-container {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 0.625rem;
  padding: 1.5rem 1.75rem 2rem;
  margin-bottom: 1rem;
}

.center-heading {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 133%;
  color: var(--body-background);
}

.course {
  background: var(--body-background);
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 0.625rem;
  padding: 3.5rem 1.75rem 2rem;
  position: relative;
}

.icons {
  position: absolute;
  top: -10%;
}

.course-headings {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  color: var(--heading-xl);
  margin-bottom: 1rem;
}

.course-paragraphs {
  font-weight: 500;
  font-size: 1rem;
  line-height: 162%;
  color: var(--body);
  margin-bottom: 1.5rem;
}

.course-link {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 156%;
  color: var(--link-idle);
}

.course-link:hover {
  color: var(--button2-hover);
}

footer {
  background: var(--heading-xl);
  padding: 2.25rem 1rem;
}

.ftr-btn-lg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 69.375rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* TABLET STYLES */
@media screen and (min-width: 48rem) {
  header {
    margin-top: 1.5rem;
    padding: 0 2.5rem;
  }

  .hero {
    flex-direction: row;
    padding: 0 0 0 2.5rem;
    gap: 2.0625rem;
    max-width: 69.375rem;
    margin: 0 auto 5.8125rem;
  }

  .intro {
    max-width: 24.875rem;
  }

  .hero-image {
    position: relative;
    bottom: 3.125rem;
  }

  .container {
    row-gap: 3.5rem;
    column-gap: 1.875rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .center-section {
    max-width: 69.375rem;
    margin: 0 auto;
    padding: 0 2.5rem 5.375rem;
  }

  .center-heading-container {
    padding: 3.5rem 1.3125rem 8.6875rem 2rem;
    margin-bottom: 0;
  }

  footer {
    padding: 2.25rem 2.5rem;
  }
}

/* DESKTOP STYLES */
@media screen and (min-width: 61.125rem) {
  .nav-logo,
  .footer-logo {
    width: 7.125rem;
  }

  .nav-btn,
  .footer-btn {
    font-size: 1.125rem;
    line-height: 156%;
    padding: 0.875rem 2rem;
  }

  .hero {
    gap: 10.125rem;
    margin-bottom: 6rem;
  }

  .intro {
    max-width: 28.5625rem;
  }

  .main-heading {
    font-size: 3.5rem;
    line-height: 4.4375rem;
    margin-bottom: 1.8125rem;
  }

  .main-paragraph {
    font-size: 1.125rem;
    line-height: 156%;
    margin-bottom: 2.5rem;
  }

  .hero-btn {
    font-size: 1.125rem;
    line-height: 156%;
    padding: 1rem 2rem;
  }

  .container {
    row-gap: 5rem;
    column-gap: 1.875rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .center-section {
    padding: 0 2.5rem 8.75rem;
  }

  .center-heading-container {
    padding: 4rem 2rem 8.625rem;
    max-width: 21.875rem;
  }

  .center-heading {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 133%;
    color: var(--body-background);
  }

  .course {
    padding: 4rem 1.75rem 2.5rem;
  }

  .course-headings {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .course-paragraphs {
    font-size: 1.125rem;
    line-height: 156%;
  }
}
